@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}

header{
    box-shadow:0 0 5px rgba(0,0,0,.2);
}

nav{
    width:80%;
    height:80px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    height:70px;
}

.nav-links{
    display:flex;
    gap:20px;
    list-style:none;
}

.nav-links a{
    text-decoration:none;
    color:#081F89;
    font-size:14px;
    font-weight:600;
}

section{
    width:80%;
    margin:60px auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-image:linear-gradient(to right,white,#FFFDF3);
}

.hero-section{
    width:45%;
}

.hero-section h1{
    font-size:64px;
    line-height:75px;
    color:#000E42;
}

.hero-section p{
    margin-top:20px;
    color:#666;
    line-height:30px;
}

.btn{
    margin-top:30px;
    padding:18px 35px;
    background:#00208A;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
}

.hero-img{
    width:45%;
}

.hero-img img{
    width:100%;
}

.header2{
    width:80%;
    margin:70px auto 50px;
    color:#000E42;
    font-size:48px;
}

.img-container{
    width:80%;
    margin:auto;
    display:flex;
    gap:40px;
    align-items:stretch;
}

.card{
    flex:1;
    display:flex;
    flex-direction:column;
}

.card img{
    width:100%;
    height:320px;
    object-fit:cover;
}

.inter{
    margin-top:25px;
    flex:1;
    display:flex;
    flex-direction:column;
}

.inter h3{
    color:#000E42;
    font-size:42px;
    line-height:48px;
    margin-bottom:20px;
}

.inter p{
    color:#666;
    font-size:15px;
    line-height:28px;
}

.baar{
    margin-top:auto;
    width:max-content;
    text-decoration:none;
    color:#26364E;
    font-size:16px;
    font-weight:600;
    border-bottom:2px solid #26364E;
    margin-top:50px;
}

.details{
    margin-top:50px;
}

.head3{
    color:#000E42;
    font-size:18px;
    font-weight:700;
}

.duration-text{
    margin-top:20px;
    color:#666;
    font-size:16px;
    line-height: 24px;
}

.skip{
    border-bottom:2px solid #B9E0FB;
    /* margin-top:20px; */
    margin-bottom: 20px;
    width: 100%;
    display: flex;
}

.heading{
    width:80%;
    margin-left: 120px;
    margin-top: 30px;
    color: #333333;
    font-size:48px;
}

.duration{
     color:#666;
    font-size:16px;
    line-height: 24px;
    margin-left: 125px;
}